<div class="container">
	<div class="row-fluid">
		<div class="span4"></div>
			<div class="span4">
				<h3>Post a Nice Thing</h3>
				<%= render 'form' %>
				<div class="span4 offset4">
					<%= link_to 'Cancel', pins_path, class:"btn btn-secondary" %>
				</div>
			</div>
		</div>
	</div>
</div>
