<% if user_signed_in? %>


<% else %>
	<div class="hero-unit">
		<h1>Nice things from nice people</h1>
		<p>
			Because new goods don´t have a character
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>