<% if user_signed_in? %>
<% else %>
	<div class="jumbotron">
		<h1>Lovely place for lovely goods</h1>
		<p>
			<%= link_to "Post a nice thing", new_pin_path, class: "btn btn-info btn-large" %>
		</p>
	</div>
<% end %>