<% if user_signed_in? %>


<% else %>
	<div class="hero-unit">
		<h1>Nice things from nice people</h1>
		<p>
			Welcome to hoodwow Hong Kong 
		</p>

		<p> 
			This is a beta version. Please sign up and stay tuned
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>