<% if user_signed_in? %>
<% else %>
	<div class="masthead">
		<div class="container">
			<h1><span>Find and sell used items.</span></h1>
			<p class="lead"><span>Finally in a simple and fast way. No bull%&it bingo.</span></p>
				<%= link_to "Post a nice thing", new_pin_path, class: "btn btn-primary btn-large" %>
			</p>
		</div>
	</div>
<% end %>