<div class="container">
	<h1> About us </h1>
		<p>
			There are people who need exactly what you don´t need anymore and there are people who have exactly what you don´t have, but would like to have.
		</p>

		<p>
		Please note that nicethingsfromnicepeople.com is a project of private nature from nice people.
	</p>
</div>