<h1> About </h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com", :target => "_blank" %> <%# ":target => blank" means open in the new tab #%> 
			is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org", :target => "_blank" %> <%# ":target => blank" means open in the new tab #%>
			in one month. This is a sample application.
</p>
