<h1> About hoodwow </h1>
<p>
	As few months ago we tried to buy a second hand couch here in hong Kong, we realized how bad and not user friendly some website are.
	Searching online for things should be simple, fast and easy.
	This is what we are trying to do with hoodwow.
</p>

<p>
	Please note. hoodwow.com is just a private project from nice people.
</p>
