<div class="hero-unit">
	<h1>Welcome to One Moth Rails</h1>
	<p>
		You´ve found the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com", :target => "_blank" %> <%# ":target => blank" means open in the new tab #%>
		application.
	</p>

	<p> 
		The homepage is still in progress. Meanwhile follow my blog
		<%= link_to "Bored Oleg", "http://boredoleg.tumblr.com/", :target => "_blank" %> <%# ":target => blank" means open in the new tab #%>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>