/* You could change the for */
/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen); */

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body{
	padding-top: 60px; // Distance between the top and the first line of the body content //
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow (none !important);
	border: 0;
}

.footer{
	margin-top: 50px; 
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.1em;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #555;
    width: 214px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.description {
    margin: 10px 0 5px;
}

.well {
    padding: 5px;
    font-size: 12px;
    line-height: 1.1em;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #555;
}

.decription_single {
    font-size: 14px;
}


