/* You could change the for */
/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen); */

$btnPrimaryBackground: #993366;
$btnPrimaryBackgroundHighlight: #660033;
$navbarBackgroundHighlight: #339798;
$navbarBackground: #339798;

@import 'bootstrap';

body{
	padding-top: 70px; /* Distance between the top and the first line of the body content */
}

@import 'bootstrap-responsive';

.navbar .brand { 
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.navbar .nav > li > a {
    color: #F0FFFF;
    text-align: right;
    padding-top: 15px;
    hover: #ffffff;
}

.navbar-inner {
	@include box-shadow (none !important);
	border: 0;
}

.nav {
    padding-top: 15px;
}

.masthead{
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
    line-height: 8em;
    background-image: url(hero_background.jpg); 
    text-align: center; 
    min-height: 450px;
    background-size: cover;
}

.masthead h1 span { 
    font-size: 81px;
    background-color: rgba(33,33,33,0.6);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px; 
    display: inline-block;
    margin-top: 70px;
    line-height: 1em;
}

.masthead p span { 
    background-color: rgba(33,33,33,0.6);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; 
    display: inline-block;
    font-size: 30px;
}

.masthead .btn {
    padding: 19px 24px;
    font-size: 25px;
}

.copyright {
    text-align: center;
    padding-top: 50px;
}

.section {
padding: 30px 0px;
margin: 0;
position: relative;
}

.form-actions {
    background-color: transparent;
    border-top: 0px solid #e5e5e5;
}

.container h2 {
    padding-top: 50px;
}

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    line-height: 1,2em;
    float: left;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 1px 1px 5px #555;
    width: 214px;
}

.box h1 {
    margin-top: -3px;
    font-size: 14px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.contact {
    font-size: 14px;
    font-weight: bold;
    color: $gray;
}

.description {
    font-size: 13px;
    margin: 10px 0 5px;
}

/* Pin view after logg in */
.well {
    padding: 5px;
    font-size: 13px;
    line-height: 1.6em;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #555;
}

.posted_by {
    font-size: 10px;
    color: $grayLight;
}

.title {
    font-size: 14px;
    margin: 7px 0 0px;
    line-height: 2em;
}

.price {
    font-size: 14px;
    color: #993366;
    float: right;
}
.price_show {
    font-size: 20px;
    color: #993366;
    float: right;
}

input,
textarea,
.uneditable-input {
  width: 300px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  height: 50px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.fa-facebook-square {
    padding-left: 20px;
}

