<div class="container">
<footer class="footer">
  <small>
    <a href="http://nicethingsfromnicepeople.com/">Nice Things From Nice People</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>
      	<a href="http://www.iubenda.com/privacy-policy/417741" class="iubenda-white iub-legal-only iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
				</a>
			</li>
      <li class="active">
        <a href="http://www.facebook.com/nicethingsfromnicepeople/" target="_blank">
          <i class="fa fa-facebook-square fa-2x">
          </i>
        </a>
      </li>
    </ul>
  </nav>
</footer>
</div>


