<div class="footer">
	<div class="container">
		<small>
			<%= link_to "nicenice ©2013", "http://hoodwow.com", :target => "_blank" %> <%# ":target => blank" means open in the new tab #%>
		</small>
	</div>
</div>