<div class="footer">
		<small>
			<%= link_to "One Month Rails", "http://onemonthrails.com", :target => "_blank" %> <%# ":target => blank" means open in the new tab #%>
			by Bored Oleg
		</small>
</div>